<nav class="users_nav" style="height:200px">
  <div class="nav-wrapper">
    <h1>LOGO</h1>
    <div class="nav-buttons">
      <div class="users-buttons">
          <a class="waves-effect waves-light btn">Home</a>
          <a class="waves-effect waves-light btn">Notification</a>
          <a class="waves-effect waves-light btn">Messages</a>
          <a class="waves-effect waves-light btn">Log Out</a>
      </div>
    </div>
  </div>
</nav>
