<%@users_index = true%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contain">
      <div class="row">
        <div class="option col s6" id="finder">
          <h1>It's Time To</h1>
          <h5>I'm looking for the newest, freshest, most passionate minds to help me.</h5>
        </div>
        <div class="option col s6" id="dreamer">
          <h1>Begin</h1>
          <h5>I'm looking for a start to my fantastic journey.</h5>
        </div>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
