<%@users_index = true%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contain">
      <div class="row">
        <div class="option col s6" id="finder">
          <h1>It's Time To</h1>
          <h5>I'm looking for the newest, freshest, most passionate minds to help me.</h5>
          <a class="btn waves-effect black" href="/finder">Find People</a>
        </div>
        <div class="option col s6" id="dreamer">
          <h1>Begin</h1>
          <h5>I'm looking for a start to my fantastic journey.</h5>
          <a class="btn waves-effect white" href="/dreamer">Get Started</a>
        </div>
      </div>
      <div class="mission">
        <h2>Mission Statement</h2>
      </div>
    </div>
    <footer>
      <h2>About the Founders</h2>
    </footer>
  </body>
</html>
