// Sessions_header
.sessions_nav{
  padding-left: 72px;
  padding-right: 72px;
  background-color: #F5F2F0;
  color: black;
  background-image: url(sessions_header_hero.jpg);
  background-size: cover;
  .input{
    height: 100%;
  }
  .field{
    input{
      height: 30px;
      margin-left: 10px;
      background-color: white;
      border-radius: 2%;
    }
  }
}
h2{
  display: inline-block;
}
.login{
  display: inline-block;
  vertical-align: top;
  margin-top: 1.78rem;
  float: right;
}

// #users_headers
.nav-wrapper{
  h1{
    width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
  }
  .nav-buttons{
    margin-left: 500px;
    vertical-align: bottom;
    display:inline-block;

    .users-buttons{

      display: inline-block;
      a{
        display: inline-block;
        height: 30px;
      }
    }
  }
}
