.sessions_nav{
  padding-left: 72px;
  padding-right: 72px;
  background-color: #F5F2F0;
  color: black;
  .input{
    height: 100%;
  }
  .field{
    input{
      height: 30px;
      margin-left: 10px;
    }
  }
}
